__pycache__/
*.pyc
.DS_Store
venv/
.venv/
env/

data/
data_fast/
thumbnails128x128 copy/
cifake-real-and-ai-generated-synthetic-images.zip

temp/
temp_uploads/
temp_frame.jpg
temp_heatmap.jpg

frontend/
best_model.pth
resnet_best.pth
models/resnet_model.pth
generated.jpg
generated_ai_image.jpg
ai_test.jpg
test.jpg

frontend/frontend_app/node_modules/
frontend/frontend_app/.git/
